.MainContents{
  height: 100%;
  width: 100%;
}

.Map{
  height: 100%;
  width: 100%;
}

.Map_dungeon{
  background: lightcyan;
  border-bottom: solid 1px lightblue;
  cursor: pointer;
}

.Map_area{
  background: lightsteelblue;
  border-bottom: solid 1px lightblue;
  cursor: pointer;
}

.Battle{
  height: 100%;
  width: 100%;
}