body{
  margin: 0;
}
.App{
  height: calc(100vh - 16px);
  width: calc(100vw - 40px);
  margin: 8px 20px;
  display: flex;
  flex-direction: row;
  user-select: none;
}
.App_left{
  height: 100%;
  width: 360px;
  background: lightpink;/*TODO debug*/
}
.App_left_top{
  height: 80px;
  width: 100%;
}
.App_left_bottom{
  flex-grow: 1;
  width: 100%;
}
.App_right{
  height: 100%;
  flex-grow: 1;
  background: lightblue;/*TODO debug*/
}